body 
 {
    background-color: white;
 }
 .leh
 {
    font-size: 900%;
    text-decoration: overline;
 }
 img
 {
   height: 2000; 
   width: 4000;
 }
 p
 {
    font-size: 1000%;
 }
 h1{
    font-size: 1500%;
 }
 .l
 {
    font-size: 800%;
    color: black;
 }